@import '../../../../scss/config';


// ---

$miniplayer-playlist-height: 400px;

.container {

    width: 100%;
    height: $miniplayer-playlist-height;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #3b3b3bbd;
    margin-bottom: 24px;

    @extend %scroll-Dark;

    &--dark {
        // Dark Theme
        @extend %scroll-Dark;
    }

    &--light {
        // Light Theme
        @extend %scroll-Light;
    }



    &--dark {
        // Dark Theme 
        border: 1px solid #3b3b3bbd;
    }

    &--light {
        // Light Theme 
        border: 1px solid #ccccccbd;
    }


    .panel {

        position: absolute;
        z-index: 5;
        height: 63px; // 65px - (1px + 1px)=> border
        top: 0;
        right: 0;
        left: 0;

        &--dark {
            // Dark Theme
            background-color: #252525fa;
            color: colors(VidTitle_Dark_Color);
        }

        &--light {
            // Ligth Theme
            background-color: #f7f7f7;
            color: colors(VidTitle_Light_Color);
        }

        &__txtwrap {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            z-index: 5;
            justify-content: space-between;

            span {
                font-family: Roboto-Medium;
                font-size: 1.4em;
            }
        }
    }

    .items {

        padding-top: 65px !important;
        padding-bottom: 5px;
        box-sizing: border-box;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        background-color: #181818;

        &--dark {
            // Dark Theme
            background-color: #181818;
        }

        &--light {
            // Light Theme
            background-color: #fff;
        }
    }

    .arrow_btn {
        display: flex;
        justify-content: center;
        padding-right: 16px;


        &__wrap {

            align-self: center;
            box-sizing: border-box;
            padding: 2px;
            border-radius: 50%;

            &--dark {

                // Dark Theme
                &:active {

                    background-color: #575757;
                }

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper)>g>path {

                    fill: #fff;
                }
            }

            &--light {

                // Light Theme
                &:active {
                    // Theme
                    background-color: #c9c9c9;

                    &>:global(.ytb_svg)>:global(.ytb_svg__wrapper)>g>path {
                        // Theme
                        fill: #000;
                    }
                }

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper)>g>path {
                    // Theme
                    fill: #333;
                }
            }
        }
    }
}