@import '../../../config_style.scss';

.icon_container_x {
    @include display-flex();
    @include alignItems-center();
    @include justifyContent-center();
    width: 20px;
    height: 20px;

    .icon_x_ {
        height: 24px;
        width: 24px;
        z-index: 1;
        cursor: pointer;
    }
}