@import '../../../scss/config';


.container {
    position: fixed;
    bottom: 0;
    width: var(--miniplayer-width);
    right: 12px;
    z-index: 5;
    pointer-events: auto;
    display: block;
    transition-property: transform;
    transition-duration: 366ms;
    transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
    will-change: transform;
    touch-action: none;
    user-select: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    @extend %scroll;


    .wrapper {
        position: relative;
        left: 0px;
        top: 0px;
        width: var(--miniplayer-width);
        display: flex;
        flex-direction: column;
        color: var(--VidTitle-Color);
        background-color: var(--miniplayer-bgc);

    }


    .video_container {

        width: var(--miniplayer-width);
        height: var(--miniplayer-height);
        background-color: #000;
        position: relative;
        flex: none;


        .miniplayer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &--visible {
                opacity: 1;
            }

            &--hidden {
                opacity: 0;
            }

        }

        &:hover>.inner_btn {
            display: flex;
        }

        .inner_btn {
            position: absolute;
            display: none;
            cursor: pointer;
            align-items: center;
            top: calc(50% - 68px/2);



            &--prev {
                margin-left: 65px;
                left: 0;


                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper) {
                    width: 68px;
                    height: 68px;
                }
            }

            &--next {
                margin-right: 65px;
                right: 0;

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper) {
                    width: 68px;
                    height: 68px;
                }
            }

            &--expandbtn {
                padding: 5px;
                left: 0;
                top: 0;

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper) {
                    width: 30px;
                    height: 30px;
                }
            }

            &--closebtn {
                padding: 5px;
                right: 0;
                top: 0;


                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper) {
                    width: 32px;
                    height: 32px;
                }
            }

            &--mid {
                right: calc(50% - 68px/2);

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper) {
                    width: 68px;
                    height: 68px;
                }
            }
        }
    }

    .header {
        height: var(--miniplayer-header-width);
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: var(--VidTitle-Color);

        .header_wrap {
            padding: 14px 16px 16px;
            overflow: hidden;
            cursor: pointer;
            font-size: 1.4em;

            &__title {
                overflow: hidden;
                height: 50%;

                span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            &__counter {
                display: flex;
                align-items: center;
                margin-top: 4px;
                font-size: .85em;
                line-height: 1.5em;
                color: var(--ChTitle-Color);

                span {
                    padding: 0 3px;
                }
            }
        }

        .arrow_btn {
            display: flex;
            justify-content: center;
            padding-right: 16px;


            &__wrap {

                align-self: center;
                box-sizing: border-box;
                padding: 2px;
                border-radius: 50%;

                &:active {
                    background-color: var(--miniplayer-hover-bgc);
                }

                &>:global(.ytb_svg)>:global(.ytb_svg__wrapper)>g>path {

                    fill: var(--miniplayer-delbtn-bgc);
                }
            }
        }
    }
}

.playlist_container {

    width: var(--miniplayer-width);
    height: var(--miniplayer-playlist-height);
    box-sizing: border-box;
    position: relative;
    border: 1px solid var(--miniplayer-border-color);

    .panel {

        position: absolute;
        z-index: 5;
        height: 40px;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--miniplayer-bgc);

        &__txtwrap {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            z-index: 5;

            span {
                cursor: pointer;
                font-size: 1.2em;
                padding-left: 5px;
                text-transform: uppercase;
            }
        }
    }

    .items {

        padding-top: 45px !important;
        box-sizing: border-box;
        height: 100%;
        padding: 4px 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: var(--miniplayer-item-bgc);

    }
}