@import "../../../../index.scss";

.menu_btn {
    background: transparent;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

    .menu-icon {
        height: 24px;
        width: 24px;
        z-index: 1;
    }

    .effect {
        display: flex;
        position: fixed;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        z-index: 0;
        //background: colors(hover-Dark);
    }

    .action {
        background-color: colors(hover-Dark);
        transform: scale(.3);
        animation: color_effect 0.2s linear;

        @keyframes color_effect {
            from {
                background-color: colors(hover-Dark);
                transform: scale(.6);
            }

            to {
                background-color: #7e7e7e;
                transform: scale(.9);
            }
        }

    }
}