@import '../../config.scss';

.guide_general_container {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    height: calc(100% - 56px);
    box-sizing: border-box;
    background-color: #00000057;
    z-index: 5;


    .iswatch {
        width: 100%;
    }

    .guide_container {
        @include display-flex();
        position: absolute;
        flex-flow: column nowrap;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        outline: none;
        box-sizing: border-box !important;
        max-width: 240px;
        max-height: 100%;
        height: 100%;
        width: 240px;

        &-dark {
            // Dark Theme
            color: #fff;
            border-bottom: 1px solid colors(border-color-Dark);
            border-left: 1px solid colors(border-color-Dark);
            background-color: colors(Nav-background-Dark);
            @extend %scroll-Dark;
        }

        &-light {
            // Light Theme
            color: #212121;
            border-bottom: 1px solid colors(border-color-Light);
            border-left: 1px solid colors(border-color-Light);
            background-color: colors(Nav-background-Light);
            @extend %scroll-Light;
        }

        .line_guide {
            height: 2px;

            &_in {
                margin: 10px 0;
                height: 0px !important;
                padding: 1px 0;
            }


            &-dark {
                // Dark Theme
                background-color: colors(border-color-Dark);
            }

            &-light {
                // Light Theme
                background-color: colors(border-color-Light);
            }
        }


        .topContainer {
            @include display-flex();
            @include alignItems-center();
            margin: 0;
            width: 200px;
            height: 56px;
            padding: 0 16px;

            .menuIcon {
                padding: 8px;
            }

            .LogoContainer {
                @include display-flex();
                @include alignItems-center();
                margin: 0;
                padding: 16px;
                width: auto;
                height: 24px;
                cursor: auto;

                a {
                    @include display-flex();
                    text-decoration: none;
                }

                .applogo {
                    height: auto;
                    width: 26px;
                }

                .LogoText {
                    @include display-flex();
                    @include alignItems-center();
                    @include justifyContent-center();
                    padding: 3px;
                    font-family: 'Oswald';
                    font-size: 17px;
                    margin-bottom: 1px;

                    &-dark {
                        // Dark Theme
                        color: #fff;
                    }

                    &-light {
                        // Light Theme
                        color: #000;
                    }
                }

                .pointer {
                    @include display-flex();
                    justify-content: flex-start;
                    align-items: flex-start;
                    color: #aaa;
                    font-size: 10px;
                    font-family: 'Oswald';
                    height: 100%;
                }
            }
        }

        .content_container {
            @include display-flex();
            justify-content: flex-start;
            flex-flow: column nowrap;
            font-size: 1.4em;
            padding-top: 10px;
            overflow-y: scroll;
            overflow-x: hidden;

            .content_wrapper {
                @include display-flex();
                @include justifyContent-center();
                @include alignItems-center;
                cursor: pointer;

                &-dark {
                    &:hover {
                        // Dark Theme
                        background-color: colors(Theme-hover-Dark);
                    }

                    &:first-child {
                        background-color: colors(Theme-hover-Dark);

                        &:hover {
                            background-color: #636363;
                        }
                    }
                }


                &-light {
                    &:hover {
                        // Light Theme
                        background-color: colors(Theme-hover-Light)
                    }

                    &:first-child {
                        background-color: colors(Theme-hover-Light);

                        &:hover {
                            background-color: #d8d8d8;
                        }
                    }
                }


                .content_logo {
                    padding: 8px 20px 8px 20px;

                    .cha_img {
                        border-radius: 50%;

                        &-dark {
                            background-color: lighten(colors(Nav-background-Dark), 10%);
                        }

                        &-light {
                            background-color: lighten(colors(Nav-background-Light), 10%);
                        }
                    }
                }

                .content_arte {

                    @include display-flex();
                    @include alignItems-center();
                    justify-content: space-between;
                    flex: 1;

                    .content_text {
                        @include display-flex();
                        @include justifyContent-center();
                        @include alignItems-center;

                        .content_l {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        .subtitle {
            padding: 8px 20px 8px 20px;

            &-dark {
                color: #c0c0c0;
            }

            &-light {
                color: #333;
            }
        }

        .aboutext {
            padding: 8px 20px 8px 20px;

            &-dark {
                color: #cacaca;
            }

            &-light {
                color: #3a3a3a;
            }

            .tx {
                padding: 5px 0;

                &-x {
                    margin-bottom: 20px;
                }

                .lt {
                    text-decoration: underline;


                    &-dark {
                        color: #8ba8e7;
                    }

                    &-light {

                        color: #6260bb;
                    }
                }
            }
        }
    }
}