@import '../../config.scss';

.guidewrapper {

    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    color: #a3a3a3;
    font-size: 1.05em;
    background-color: colors(Nav-background-Dark);


    @media screen and (max-width: 810px) {
        display: none;
    }

    .hx_guide {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        width: 72px;
        padding: 16px 0 14px;
        outline: 0;
        cursor: pointer;

        &:hover {
            background-color: colors(Theme-hover-Dark);
        }

        &:active {
            background-color: red;
        }

        .icon_hx_guide {
            display: flex;

        }

        .text_guide_h {
            padding-top: 5px;
        }
    }
}