.progressbar {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c5c4c4;

  .loader {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    border-right: 1px solid #e01616;
    animation-name: fake_load;
    animation-duration: 650ms;
    box-sizing: border-box;
  }

  @keyframes fake_load {
    0% {
      width: 10%;
    }

    25% {
      width: 25%;
    }

    50% {
      width: 50%;
    }

    100% {
      width: 100%;
    }
  }
}

.container {
  margin-left: calc(16px / 2);
  margin-right: calc(16px / 2);
  margin-bottom: 40px;
  width: calc(100% / (4) - 16px);

  @media screen and (max-width: 1140px) {
    width: calc(100% / (3) - 16px);
  }

  @media screen and (max-width: 890px) {
    width: calc(100% / (2) - 16px);
  }

  @media screen and (max-width: 520px) {
    width: calc(100% - 16px);
  }

  .thumbnail {
    width: 100%;
    height: auto;
    background-color: var(--Skeleton-color);


    &::before {
      display: block;
      content: "";
      z-index: 1;
      width: 100%;
      padding-top: 56.25%;
    }
  }

  .body {
    display: flex;
    margin-top: 12px;
    margin-right: 12px;
    align-items: flex-start;

    &__img {
      border-radius: 50%;
      height: 36px;
      width: 36px;
      background-color: var(--Skeleton-color);
    }

    &__txt {
      display: flex;
      flex-direction: column;
      margin: 0 5px;
      // 50 from __img 36px + some space
      width: calc(100% - 50px);

      .title1 {
        width: 70%;
        height: 10px;
        margin: 5px;
        border-radius: 2px;
        background-repeat: repeat-y;
        background-position: 120px 120px;
        animation: shine 1s infinite;
        background-color: var(--Skeleton-color);
        background-image: linear-gradient(var(--skeleton-gradient-colot) 10px, transparent 0);
      }

      @keyframes shine {
        0% {
          background-position: -250px 0;
        }

        100% {
          background-position: 250px 0;
        }
      }

      .title2 {
        width: 45%;
        height: 10px;
        margin: 5px;
        border-radius: 2px;
        background-color: var(--Skeleton-color);
      }
    }
  }
}