@import '../../config_style.scss';

.icon_container_y {
    @include display-flex();
    @include alignItems-center();
    @include justifyContent-center();
    width: 24px;
    height: 24px;

    .icon_y_ {
        height: 24px;
        width: 24px;
        z-index: 1;
        cursor: pointer;
    }
}