@import '../../config.scss';



.hvideo_container {
    margin-left: calc(16px / 2);
    margin-right: calc(16px / 2);
    margin-bottom: 40px;
    width: calc(100% /(4) - 16px);
    cursor: pointer;


    @media screen and (max-width: 1340px) {
        width: calc(100% /(3) - 16px);
    }

    @media screen and (max-width: 1000px) {
        width: calc(100% /(2) - 16px);

    }

    @media screen and (max-width: 750px) {
        width: calc(100% - 16px);

    }

    &:hover .hvideo_wrapper>.hvideo_title_container>.hvideo_dots {
        display: block;

    }

    .hvideo_wrapper {
        display: flex;
        flex-flow: column nowrap;

        .hvideo_title_container {
            display: flex;
            position: relative;

            .hvideo_pro_wrapper {

                margin-top: 12px;
                margin-right: 12px;

                .hvideo_pro_img {
                    text-decoration: none;
                    cursor: pointer;

                    .hvideo_img {
                        position: relative;
                        border-radius: 50%;
                        border: 0;
                        height: auto;
                        height: 36px;
                        width: 36px;
                        background-color: #383838;
                    }
                }
            }

            .hvideo_dots {
                display: none;
                padding-top: 12px;
                position: absolute;
                right: 0;

                &:hover .icon_container>.icon_>g>path {
                    fill: #fff;
                }

            }

            .text_area {
                display: block;
                padding-right: 24px;
                font-size: 1.4em;

                .text_con_txt {
                    text-decoration: none;
                    color: #fafafa;

                    .title_txt {
                        margin: 12px 0 4px 0;
                        cursor: pointer;
                    }
                }


                .ch_title {
                    text-decoration: none;
                    color: #909090;
                    position: relative;


                    &:hover {
                        color: #fff;
                    }


                    &::before {
                        position: absolute;
                        z-index: 2;
                        display: none;
                        text-align: center;
                        padding: 5px;
                        font-size: .9em;
                        border-radius: 2px;
                        background-color: colors(Theme-hover-Dark);
                        @include transform(translateX(-50%));
                        color: #e0e0e0;
                        top: calc(100% + 25px);
                        left: 50%;
                        width: 95px;
                        content: attr(data-content);
                    }

                    &:hover::before {
                        display: inline-block;
                    }
                }

                .xxs {
                    color: #909090;
                    padding-top: 1px;

                    .numv {

                        &:after {
                            content: "•";
                            margin: 0 4px;
                        }
                    }
                }
            }
        }

        .hvideo_thumbnail_container {

            position: relative;
            width: 100%;

            .hvideo_thumbnail_img {
                width: 100%;
                height: 140px;
                background-color: #383838;
            }

            &:hover .hvideo_ab {
                display: flex;
                flex-direction: row-reverse;
                align-items: stretch;
            }

            .hvideo_ab {
                position: absolute;
                right: 0;
                margin: 4px;
                color: #fff;
                border-radius: 2px;
                letter-spacing: 0.5px;
                font-size: .8rem;
                overflow: hidden;


                .slider_text {
                    position: relative;
                    text-transform: uppercase;
                    transform: translateX(135px);
                    background-color: #000;
                    transition: transform 0.35s ease-in-out;
                    z-index: 0;
                    padding: 3px 6px;
                    border-radius: 2px 0 0 2px;
                    display: flex;
                    align-items: flex-end;
                    align-items: center;
                    justify-content: center;

                    .checkedtxt {
                        color: #3ea6ff;
                    }

                    .normaltxt {
                        align-self: center;
                    }
                }

                .tt_icon {
                    background-color: rgba(0, 0, 0, 0.8);
                    z-index: 2;
                    padding: 3px 3px;
                    border-radius: 2px;

                    .checked_icon {

                        &>.icon_container_x>.icon_x_ {
                            height: 20px;
                        }
                    }

                    &:hover {
                        background-color: rgb(0, 0, 0);
                        border-radius: 0 2px 2px 0;
                    }
                }

                &-duration {
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 2px 4px;
                    line-height: 1.2rem;

                }

                &:hover {

                    .slider_text {
                        transform: translateX(1px);
                        z-index: 1;
                    }
                }

                &-queue {
                    display: none;
                    top: 33px;
                }

                &-clock {
                    display: none;
                    top: 0;
                }
            }
        }
    }
}