@import "../../config_style.scss";


.ripple_button {

    position: relative;
    transition: all 0.15s linear;

    &:active,
    &:focus {
        outline: none;
    }

    .ripple {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;

        .circle {
            position: absolute;
            border: 1px solid transparent;
            border-radius: 50%;
            pointer-events: none;
            animation: ripple 0.75s 1;
            top: 50%;
            left: 50%;

            &-dark {
                background: rgba(#FBE8D3, 0.2);

            }

            &-light {
                background: rgba(#979797, 0.5);
            }
        }

        @keyframes ripple {
            from {
                transform: scale(0);
                opacity: 1;
            }

            to {
                transform: scale(250);
                opacity: 0;
            }
        }
    }
}