.thumbnail {

    cursor: pointer;

    &__wrapper {

        border-radius: 50%;
        overflow: hidden;
        background-color: var(--Skeleton-color);

        .img {

            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: none;
            max-width: 100%;
            border-radius: none;
        }
    }
}