.container {

    position: relative;
    transition: all 0.15s linear;

    &:active,
    &:focus {
        outline: none;
    }

    .wrap {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;

        .circle {
            position: absolute;
            border: 1px solid transparent;
            border-radius: 50%;
            pointer-events: none;
            animation: ripple 0.75s;
            top: 0;
            left: 0;
            background: var(--ripple-btn-bgc);

        }

        @keyframes ripple {
            from {
                transform: scale(0);
                opacity: 1;
            }

            to {
                transform: scale(150);
                opacity: 0;
            }
        }
    }
}