@import '../../../../sass/config_style.scss';

.ytb_svg_x {
    @include display-flex();
    @include alignItems-center();
    @include justifyContent-center();
    width: 20px;
    height: 20px;

    &__wrapper {
        height: 24px;
        width: 24px;
        z-index: 1;
        cursor: pointer;
    }
}