@import '../../../scss/config';

.container {

    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    font-size: 1.05em;

    &--dark {
        // Dark Theme
        background-color: lighten(colors(Nav-background-Dark), .8%);
        color: #aaa;
    }

    &--light {
        // Light Theme
        background-color: darken(colors(Nav-background-Light), .4%);
        color: #3a3a3a;
    }


    @media screen and (max-width: 810px) {
        display: none !important;
    }

    a:active {
        text-decoration: none;
        color: inherit;
    }

    a:visited {
        text-decoration: none;
        color: inherit;
    }

    // ---

    .btn_wrapper {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        margin-top: 4px;
        width: 72px;
        padding: 16px 0 14px;
        outline: 0;
        cursor: pointer;
        text-decoration: none;
        color: inherit;


        &--dark {
            // Dark Theme

            &:hover {

                background-color: colors(Theme-hover-Dark);
            }

            &:active {
                background-color: lighten(colors(Theme-hover-Dark), 2%);
            }

            &--active {
                color: #fff !important;

                &:hover {

                    background-color: colors(Theme-hover-Dark);
                }

                &:active {
                    background-color: lighten(colors(Theme-hover-Dark), 2%);
                }
            }
        }

        &--light {

            // Light Theme
            &:hover {

                background-color: colors(Theme-hover-Light)
            }

            &:active {
                background-color: darken(colors(Theme-hover-Light), 2%);
            }

            &--active {
                color: #d40000 !important;

                // Light Theme
                &:hover {

                    background-color: colors(Theme-hover-Light)
                }

                &:active {
                    background-color: darken(colors(Theme-hover-Light), 2%);
                }
            }
        }
    }

    // ---

    .icon_wrap {
        display: flex;
    }

    // ---

    .text_wrap {
        padding-top: 5px;
    }
}