@import '../../config.scss';

.rootContainer {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;

    &-dark {
        // Dark Theme
        background-color: colors(general-background-Dark) !important;
    }

    &-light {
        // Light Theme
        background-color: colors(general-background-Light) !important;
    }
}