@import '../../config.scss';


.home_container {

    margin-top: 56px;

    .home_video_container {
        margin-left: 240px;

        @media screen and (max-width: 810px) {
            margin-left: 0px;
        }

        .hcontentwrap {
            margin: 0 24px 0 24px;

            .homevideowrapper {
                display: flex;
                flex-flow: row wrap;
                margin-top: 24px;
            }

            .home_title_container {
                padding-top: 36px;
                padding-left: calc(16px / 2);


                .home_title {
                    color: #fff;
                    font-size: 2em;
                    font-weight: 500;
                    line-height: 2.4rem;
                }
            }
        }
    }
}