@import '../../config.scss';

.results_container {
    margin-left: 240px;
    max-width: 862px;
    //padding: 16px 24px;
    //background-color: rgb(90, 138, 18);

    @media screen and (max-width: 810px) {
        margin-left: 0px !important;
    }


    .results_contentwrapper {
        margin: 0 24px 0 24px;

        .r_line {
            height: 1px;
            background-color: colors(border-color-Dark);

            &-dark {
                // Dark Theme
                background-color: colors(border-color-Dark);
            }

            &-light {
                // Dark Theme
                background-color: colors(border-color-Light);
            }
        }

        .header_container {

            margin-top: 16px;
            //background-color: chartreuse;


            .header_wrapper {

                display: flex;
                color: #fff;
                align-items: center;
                width: 100px;
                padding: 10px 5px;
                cursor: pointer;
                border-radius: 2px;

                .header_icon {}

                .header_text {
                    margin-left: 8px;
                    font-size: .8rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #ccc;
                }
            }
        }

        // ================ FILTER ================
        // 

        // padding: 15px 0;

        .filter_content_container {
            position: relative;
            overflow: hidden;
            transition-property: max-height;
            transition-duration: .3s;
            transition-timing-function: linear;

            .fcc_wrapper {
                display: flex;
                flex-flow: row nowrap;


                .fcc_text_container {
                    padding-right: 32px;
                    width: calc(100%);
                    margin-bottom: 32px;


                    &:nth-child(5) {
                        padding-right: 0;
                    }

                    .fcc_header_text {
                        color: #fff;
                        margin: 5px 0;
                        padding: 15px 0 5px 0;
                        font-size: .8rem;
                        font-weight: 590;
                        text-transform: uppercase;
                    }

                    .fcc_line {
                        height: 1px;
                        background-color: colors(border-color-Dark);
                    }

                    .fcc_text {
                        color: #b9b8b8;
                        font-size: 1.4em;
                        cursor: pointer;
                        padding: 15px 0 0;
                        margin: 5px 0;
                        display: flex;
                        align-items: center;

                        &-active {
                            color: #fff;
                        }

                        .x_icon {
                            padding-left: 10px;
                            cursor: pointer;

                            &>.icon_container_y {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }

        .results_section_list {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
        }
    }
}