@import '../../config.scss';

.message_box_container {
    position: fixed;
    background-color: #444444;
    bottom: 10px;
    color: #fff;
    border-radius: 2px;
    left: 50px;
    font-size: 1.5em;
    z-index: 100;
    transition: all .6s ease-in-out;


    &-show {
        transform: translateY(0px);
    }

    &-fade {
        transform: translateY(60px);
    }

    .em_wrapper {
        display: flex;
        align-items: center;

        .box_message {
            margin-left: 10px;
            padding: 15px 10px;
        }

        .box_btn {
            color: #2793e6;
            margin: 0 0 0 10px;
            font-size: 0.9em;
            cursor: pointer;
            padding: 15px 12px;

            &:active {
                background-color: #616161c0;
                color: #1f98f5;
            }

        }
    }
}