@import '../../config_style.scss';

.message_box_container {
    position: fixed;
    bottom: 10px;
    border-radius: 2px;
    left: 50px;
    font-size: 1.5em;
    z-index: 100;
    transition: all .6s ease-in-out;

    &-dark {
        // Dark Theme
        background-color: colors(Theme-hover-Dark);
        color: #fff;
    }

    &-light {
        // Light Theme
        background-color: colors(Theme-hover-Light);
        border: 1px solid rgba(85, 85, 85, 0.247);
        color: #0e0e0e;
    }


    &-show {
        transform: translateY(0px);
    }

    &-fade {
        transform: translateY(60px);
    }

    .em_wrapper {

        @include display-flex();
        @include alignItems-center;

        .box_message {
            margin: 0 10px;
            padding: 15px 10px;
        }

        .box_btn {

            margin: 0 0 0 10px;
            font-size: 0.8em;
            cursor: pointer;
            padding: 15px 12px;
            font-weight: 600;

            &-dark {
                // Dark Theme
                color: #2793e6;

                &:active {
                    background-color: #616161c0;
                    color: #1f98f5;
                }
            }

            &-light {
                // Ligh Theme
                color: #1f79be;

                &:active {
                    background-color: #cacaca;
                    color: #0265b1;
                }
            }
        }
    }
}