@import '../../config_style.scss';


.NavContainer {
    // see config.scss for mixin
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    @include display-flex();
    @include alignItems-center();
    height: 56px;
    padding: 0 16px;
    justify-content: space-between;
    z-index: 10;

    &-dark {
        // Dark Theme
        background: colors(Nav-background-Dark);
    }

    &-light {
        // Light Theme
        background: colors(Nav-background-Light);
    }

    // =================
    //   LeftContainer
    // =================

    .LeftContainer {
        @include display-flex();
        @include alignItems-center();
        width: 200px;

        .menuIcon {
            padding: 8px;
        }

        .LogoContainer {
            @include display-flex();
            @include alignItems-center();
            margin: 0;
            padding: 16px;
            width: auto;
            height: 24px;
            cursor: auto;


            a {
                @include display-flex();
                text-decoration: none;
            }

            .applogo {
                height: auto;
                width: 26px;
            }

            .LogoText {
                @include display-flex();
                @include alignItems-center();
                @include justifyContent-center();
                padding: 3px;
                font-family: 'Oswald';
                font-size: 17px;
                margin-bottom: 1px;

                &-dark {
                    // Dark Theme
                    color: #fff;
                }

                &-light {
                    // Light Theme
                    color: #000;
                }
            }

            .pointer {
                @include display-flex();
                justify-content: flex-start;
                align-items: flex-start;
                color: #aaa;
                font-size: 10px;
                font-family: 'Oswald';
                height: 100%;
            }
        }

    }

    // =================
    //  searchContainer
    // =================

    .searchContainer {
        @include display-flex();
        @include alignItems-center();
        @include justifyContent-center();
        width: 100%;
        margin: 0 40px;

        .form_container {
            width: 100%;
            max-width: 640px;
            margin: 0 auto;

            .form_wrapper {
                @include display-flex();
                @include justifyContent-center();
                align-items: stretch;

                .input_wrapper {
                    @include display-flex();
                    @include alignItems-center();
                    flex-direction: column;
                    position: relative;
                    border-radius: 2px 0 0 2px;
                    padding: 2px 6px;
                    flex: 1;

                    &-dark {
                        // Dark Theme
                        background-color: #121212;
                        border: 1px solid colors(border-color-Dark);
                        border-right: none;
                        color: #fff;
                    }


                    &-light {
                        // Light Theme
                        background-color: transparent;
                        border: 1px solid colors(border-color-Light);
                        border-right: none;
                        color: #000;
                    }

                    .search_input {
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        color: inherit;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-left: 4px;
                        max-width: 100%;
                        outline: none;
                        text-align: inherit;
                        width: 100%;
                        flex: 1;

                    }
                }

                .focus {
                    border: 1px solid #2650c5 !important;
                }

                .btn_container {
                    @include display-flex();
                    @include alignItems-center();
                    @include justifyContent-center();
                    cursor: pointer;
                    width: 65px;
                    border-radius: 0 2px 2px 0;
                    margin: 0;
                    height: inherit;

                    &-dark {
                        // Dark Theme
                        border: 1px solid colors(border-color-Dark);
                        background-color: #ffffff14;
                    }

                    &-light {
                        // Light Theme
                        border: 1px solid colors(border-color-Light);
                        background-color: #f8f8f8;
                    }

                    // fill is a class name in Search_icon.js
                    &:hover .fill {

                        &-dark {
                            // Dark Threme
                            fill: #ffffffcc;
                        }

                        &-light {
                            // Light Theme
                            fill: #000;
                        }
                    }
                }
            }
        }
    }

    .responsive_search_icon {
        @include display-flex();
        justify-content: flex-end;
        width: 100%;
        margin-right: 8px;
    }


    // =================
    //  RightContainer
    // =================

    .RightContainer {
        @include display-flex();
        @include alignItems-center();
        @include justifyContent-center();
        width: 200px;

        .icons_container {
            @include display-flex();
            @include alignItems-center();
            @include justifyContent-center();
            width: 40px;
            height: 40px;
            margin-right: 8px;

            .noti_count {
                position: absolute;
                align-self: flex-start;
                z-index: 2;
                margin: 3px 0px 0px 10px;

                &-dark {
                    background-color: #c00;
                    box-shadow: 0px 0px 0px 1px colors(Nav-background-Dark);
                }

                &-light {
                    background-color: rgb(233, 56, 56);
                    box-shadow: 0px 0px 0px 1px colors(Nav-background-Light);
                }

                color: #fff;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                line-height: 18px;
                font-size: 10px;
                text-align: center;
                cursor: pointer;

            }
        }

        .profile_container {
            .prof_btn {

                @include display-flex();
                @include alignItems-center();
                @include justifyContent-center();
                width: 60px;
                height: 40px;

                &:active .profile_img {
                    border: 2px solid #3ea6ff;
                }


                .profile_img {
                    border: 2px solid transparent;
                    border-radius: 50%;
                }
            }
        }
    }
}