.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  padding-top: 24px;


  @media screen and (min-width: 1440px) {
    margin-left: 35px !important;
  }

  @media screen and (max-width: 1016px) {
    .primary {
      margin: 25px !important;
    }
  }

  @media screen and (min-width: 550px) {
    .primary {
      margin: 0 25px !important;
    }
  }

  .primary {
    display: flex;
    flex-direction: column;
    margin: 0 24px !important;
    flex: 2;

    @media screen and (max-width: 805px) {
      max-width: 90vw;
      margin: 0 4vw !important;
    }


    .player_container {


      @media screen and (max-width: 1016px) {
        padding: 0 45px;
      }

      @media screen and (max-width: 905px) {
        padding: 0 15px;
      }

      @media screen and (max-width: 805px) {
        padding: 0;
      }

      .player_wrap {
        position: relative;
        padding-bottom: 56.25%;
        /* aspect ration for 16:9 */
        height: 0;
        overflow: hidden;

        &__inner {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          transition: opacity 500ms;
          background-color: #000;

          &--visible {
            opacity: 1;
          }

          &--hidden {
            opacity: 0;
          }
        }
      }
    }

    .info {

      .info_contents {

        display: block;
        padding: 20px 0 8px 0;
        border-bottom: 1px solid var(--border-color);

        .main_title {
          max-width: 800px;
          font-size: 1.12rem;
          color: var(--VidTitle-Color);

          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

        }

        .stat_info {
          font-size: 0.92rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          color: var(--ChTitle-Color);

          @media screen and (max-width: 700px) {
            flex-direction: column;
          }

          .info_text {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 8px;

            .date {
              display: flex;
              flex-direction: row;
              align-items: center;

              .dot {
                margin-left: 4px;
                margin-right: 4px;
              }
            }
          }

          .menu_container {
            font-family: Roboto-Medium;
            font-size: 0.85rem;

            .menu {
              display: flex;
              justify-content: center;
              flex-flow: row;

              .likearea {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .progress {

                  position: absolute;
                  bottom: -8px;
                  left: 8px;
                  height: 10px;
                  width: 100%;
                  z-index: 2;
                  height: 2.5px;
                  background-color: var(--ld-progress-bgc);

                  &__bar {
                    position: absolute;
                    height: 2.5px;
                    bottom: 0;
                    background-color: #909090;
                  }
                }
              }

              .iconcon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 8px;
                //box-sizing: border-box;

                .icon {
                  padding: 8px;
                  cursor: pointer;
                  border-radius: 50%;

                  &:active {
                    background-color: var(--watch-icons-active-bgc);
                  }

                  &> :global(.ytb_svg_y)> :global(.ytb_svg_y__wrapper) {
                    width: 20px;
                    height: auto;
                  }

                  .rotate_icon {
                    transform: rotate(90deg);
                  }
                }

                span {
                  text-transform: uppercase;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }


    .meta {

      .vid_info {
        display: block;
        margin-bottom: 24px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--border-color);


        &__container {
          .top_row {
            margin-bottom: 12px;
            padding-top: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .channel_info_con {
              display: flex;
              flex-direction: row;

              .cha_margin {
                margin-right: 16px;
              }

              .cha_info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__title {
                  font-family: Roboto-Medium;
                  font-size: 0.95rem;
                  padding-bottom: 2px;
                  color: var(--VidTitle-Color);
                }

                &__sub {
                  font-size: 0.79rem;
                  color: var(--ChTitle-Color);
                }
              }
            }

            .subbtn_con {
              display: flex;
              flex-direction: row;
              justify-content: center;

              .subbtn {
                display: flex;
                align-items: center;
                padding-right: 8px;

                &__subed {
                  display: flex;
                  align-items: center;

                  .span_subed {
                    top: 25%;
                    right: 0;
                    border-radius: 2px;
                    padding: 10px 16px;
                    margin: auto 4px;
                    white-space: nowrap;
                    font-size: 0.9rem;
                    font-weight: 500;
                    letter-spacing: 0.007px;
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color: var(--subedBtn-bg);
                    color: var(--Duration-Color) !important;
                  }

                  .subbell {
                    padding: 0 0 0 10px;

                    &> :global(.ytb_svg_x) {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }

                &__sub {
                  top: 25%;
                  right: 0;
                  border-radius: 2px;
                  padding: 10px 16px;
                  margin: auto 4px;
                  white-space: nowrap;
                  font-size: 0.9rem;
                  font-weight: 500;
                  letter-spacing: 0.007px;
                  text-transform: uppercase;
                  cursor: pointer;
                  background-color: var(--subBtn-bg);
                  color: #fff;
                }
              }
            }
          }

          .bottom_row {
            margin-left: 64px;
            color: var(--VidTitle-Color);

            .description {
              display: block;
              max-width: 615px;
              overflow: hidden;

              .text_area {
                font-size: 0.85rem;

                .line_clamp {
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 5;
                }

              }

              .show_more_btn {
                display: inline-block;
                font-size: 0.9rem;
                margin-top: 8px;
                text-transform: uppercase;
                cursor: pointer;
                color: var(--ChTitle-Color);
              }
            }
          }
        }
      }
    }

    .comments {

      &__header {
        margin-bottom: 32px;

        .comheader {
          margin-bottom: 32px;
          display: flex;
          flex-direction: row;

          &__title {
            display: flex;
            font-size: 0.98rem;
            justify-content: center;
            align-items: center;

            .com_count {
              margin: 0 32px 0 0;
              color: var(--VidTitle-Color);
            }

            .com_sort_menu {
              display: flex;
              justify-content: center;
              align-items: center;

              &__txt {
                padding-left: 8px;
                text-transform: uppercase;
                font-size: 0.9em;
                cursor: pointer;
                color: var(--ChTitle-Color);
              }
            }
          }
        }

        .userinput {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;

          .prothumb {
            margin-right: 16px;
            flex: none;
          }



          &__inputcon {

            flex: 1;
            position: relative;


            &::after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 1px;
              left: 50%;
              position: absolute;
              background: var(--noti-dot-blue);
              transition: width 0.25s ease 0s, left 0.25s ease 0s;
              width: 0%;

            }

            &:hover::after {
              width: 100%;
              left: 0;
            }

            .inputcom {

              cursor: text;
              padding-bottom: 4px;
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              font-size: 0.9rem;
              color: var(--VidTitle-Color);
              box-sizing: border-box;
              border-bottom: 2px solid var(--border-color);


              &::placeholder {
                color: var(--ChTitle-Color);
              }

              &:focus {
                border-bottom: 2px solid var(--noti-dot-blue) !important;
              }

            }
          }
        }
      }

      &__contents {
        display: flex;
        margin-bottom: 16px;

        &:hover>.comment_container__menu {
          :global(.ytb_svg)> :global(.ytb_svg__wrapper)>g>path {
            fill: #909090;
          }
        }

        .com_prothumb {
          margin-right: 16px;
          flex: none;
        }

        .comment_container {
          &__main {
            min-width: 0;
            max-width: 800px;
            flex: 1;
            display: flex;
            flex-direction: column;


            .comain_header {
              margin-bottom: 2px;

              &__author_header {
                align-items: baseline;
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                font-size: 0.85rem;

                .author_title {
                  font-family: Roboto-Medium;
                  max-width: 400px;
                  overflow: hidden;
                  margin-right: 4px;
                  margin-bottom: 2px;
                  color: var(--VidTitle-Color);
                }

                .published_time_text {
                  font-size: 0.98em;
                  color: var(--ChTitle-Color);

                }
              }
            }

            .comain_body {
              &__wrapper {
                overflow: hidden;
                // 4.8rem is 4*1.2 which is 4 lines height line-height: 1.2rem;
                max-height: 4.8rem;
                color: var(--VidTitle-Color);

                .spantxt {
                  font-size: 0.88rem;
                  line-height: 1.2rem;

                  color: var(--VidTitle-Color);

                  a {
                    color: var(--noti-dot-blue);
                  }
                }
              }

              &__iconarea {
                margin-top: 5px;

                .iconarea_con {
                  display: flex;
                  align-items: center;
                  flex-direction: row;

                  &__x {
                    text-transform: uppercase;
                    margin-right: 8px;
                    font-size: 0.8rem;
                    color: var(--ChTitle-Color);

                    &> :global(.ytb_svg_y)> :global(.ytb_svg_y__wrapper) {
                      width: 16px;
                      height: 16px;
                    }
                  }
                }
              }
            }
          }

          &__menu {
            :global(.ytb_svg)> :global(.ytb_svg__wrapper)>g>path {
              fill: transparent;
            }

            &:hover> :global(.ytb_svg)> :global(.ytb_svg__wrapper)>g>path {
              fill: var(--logo-txt-color);
            }
          }
        }
      }
    }
  }

  .secondary {
    flex: 1;
    margin-right: 24px;
    width: 402px;
    min-width: 300px;
    max-width: 402px;

    @media screen and (max-width: 1016px) {
      min-width: 100% !important;
      margin-right: 0;
      width: 100%;
    }

    .header {
      display: block;
      padding-bottom: 8px;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        color: var(--VidTitle-Color);

        @media screen and (max-width: 1016px) {
          padding-right: 10px;
        }

        .upne_text {
          font-size: 1rem;
        }

        .toggle {
          display: flex;

          &__txt {
            font-family: Roboto-Medium;
            font-size: 0.8rem;
            margin-right: 8px;
            color: var(--ChTitle-Color);
          }
        }


        .switch {
          width: 35px;
          height: 15px;
          border-radius: 50px;
          background: var(--switch-btn-bgc);

          &__toggle {
            position: absolute;
            opacity: 0;
            width: 0px;
            height: 0px;

            &:checked {
              +.switch__btn {
                grid-template-columns: 1fr 1fr 0fr;

                &::after {
                  background-color: #3ea6ff;
                }
              }
            }
          }

          &__btn {
            height: 100%;
            display: grid;
            grid-template-columns: 0fr 1fr 1fr;
            transition: 0.5s;
            transform: translateY(-3px);

            &::after {
              content: "";
              cursor: pointer;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              background-color: #909090;
              box-shadow: 0px 1px 4px #555;
              grid-column: 2;
              transition: background-color 0.5s;
            }

            .circle {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;

              &--on {
                transform: translate(6px, -10px);
                background-color: #90909050;
              }

              &--off {
                transform: translate(-10px, -10px);
                background-color: #90909050;
              }
            }
          }
        }
      }

      .line {
        height: 1px;
        margin-top: 8px;
        margin-bottom: 16px;
        background-color: var(--border-color);
      }
    }
  }
}