.container {
    color: #000;
    position: absolute;
    transform: translateY(40px);
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    color: #222;
    line-height: 22px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-top: none;

    div:nth-child(1) {
        margin-top: 10px;
    }

    div:last-child {
        margin-bottom: 10px;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0 24px 0 10px;
        margin-bottom: 1px;
        box-sizing: border-box;

        &:hover {
            background-color: rgb(238, 238, 238);
        }

        .wrapper {

            display: flex;
            align-items: center;
            flex: 1;
            line-height: 100%;


            &__text {

                color: #222;
                cursor: default;
            }

            &__atxt {
                font-family: Roboto-Medium;
                color: #52188c;
            }

            .ph {
                pointer-events: none;
                color: #666;
            }
        }

        .remove {
            position: absolute;
            right: 0;
            padding-right: 25px;
            font-size: 13px;
            color: #36c;
            text-decoration: none;
            box-sizing: border-box;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}