@import '../../../../../scss/config';

.ytb_svg {

    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        height: 24px;
        width: 24px;
        z-index: 1;
        cursor: pointer;
    }

    &__effect {
        display: flex;
        position: fixed;
        height: 45px;
        width: 45px;
        z-index: 0;
    }

    &__action {

        &--dark {
            background-color: #484848;

            transform: scale(.6);
            animation: color_effect-dark 0.2s linear;

            @keyframes color_effect-dark {
                from {
                    background-color: #484848;
                    transform: scale(.6);
                }

                to {
                    background-color: #7e7e7e;
                    transform: scale(.9);
                }
            }
        }

        &--light {
            background-color: #ccc;
            transform: scale(.6);
            animation: color_effect-light 0.2s linear;

            @keyframes color_effect-light {
                from {
                    background-color: #e9e9e9;
                    transform: scale(.6);
                }

                to {
                    background-color: #ccc;
                    transform: scale(.9);
                }
            }
        }
    }
}

%before {

    position: absolute;
    z-index: 2;
    display: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 2px;
    transform: translateX(-50%);
    top: calc(100% + 25px);
    left: 50%;
    opacity: 0.9;
}

%theme_dark {


    // Dark Theme
    color: colors(ChTitle_Dark_Color);

    &:hover {
        color: #fff;
    }

    &::before {
        color: #e0e0e0;
        background-color: colors(Theme-hover-Dark);

    }
}

%theme_light {

    // Light Theme
    color: colors(ChTitle_Light_Color);

    &:hover {
        color: #000;
    }

    &::before {
        background-color: colors(Theme-hover-Light);
        color: #555;
        border: 1px solid rgba(85, 85, 85, 0.247);
    }

}

.titleA {
    position: relative;

    &::before {
        @extend %before;
        width: 95px;
        content: "YouTube apps";
    }

    &:hover::before {
        display: inline-block;
    }

    &--dark {
        @extend %theme_dark;
    }

    &--light {
        @extend %theme_light;
    }
}


.titleB {

    position: relative;

    &::before {
        @extend %before;
        width: 75px;
        content: "Notifications";
    }

    &:hover::before {
        display: inline-block;
    }

    &--dark {
        @extend %theme_dark;
    }

    &--light {
        @extend %theme_light;
    }
}


.titleC {

    position: relative;

    &::before {
        @extend %before;
        width: 140px;
        content: "Create a video or post";
    }

    &:hover::before {
        display: inline-block;
    }

    &--dark {
        @extend %theme_dark;
    }

    &--light {
        @extend %theme_light;
    }
}

.titleS {

    position: relative;

    &::before {
        @extend %before;
        content: "Search";
    }

    &:hover::before {
        display: inline-block;
    }

    &--dark {
        @extend %theme_dark;
    }

    &--light {
        @extend %theme_light;
    }
}