@import '../../../config_style.scss';


.home_video_container {

    margin-left: calc(16px / 2);
    margin-right: calc(16px / 2);
    width: calc(100% /(4) - 16px);
    margin-bottom: 60px;
    cursor: pointer;


    @media screen and (max-width: 1340px) {
        width: calc(100% /(3) - 16px);
    }

    @media screen and (max-width: 1000px) {
        width: calc(100% /(2) - 16px);

    }

    @media screen and (max-width: 750px) {
        width: calc(100% - 16px);

    }

    &:hover .hvc_wrapper>.hvc_wrapper__body_container>.vh_dot_btn {
        display: block;

    }

    &:hover>.hvc_wrapper>.hvc_wrapper__thumbnail>.vh_inner_btn {
        @include display-flex();
        flex-direction: row-reverse;
        align-items: stretch;
    }

    .hvc_wrapper {

        @include display-flex();
        flex-flow: column nowrap;

        // ---

        &__thumbnail {

            position: relative;
            width: 100%;

            .video_thumbnail {
                outline: none;

                &__img_wrapper {

                    width: 100%;
                    height: 140px;

                    &--dark {
                        background-color: colors(Skeleton_Dark_color);
                    }

                    &--light {
                        background-color: colors(Skeleton_Light_color);
                    }

                    &__img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .vh_inner_btn {
                position: absolute;
                right: 0;
                margin: 4px;
                color: #fff;
                border-radius: 2px;
                letter-spacing: 0.5px;
                font-size: .8rem;
                overflow: hidden;


                &__slider_txt {
                    @include display-flex();
                    @include justifyContent-center();
                    @include alignItems-center;
                    position: relative;
                    text-transform: uppercase;
                    transform: translateX(135px);
                    background-color: #000;
                    transition: transform 0.35s ease-in-out;
                    z-index: 0;
                    padding: 3px 6px;
                    border-radius: 2px 0 0 2px;

                    .vh_checked_txt {
                        color: #3ea6ff;
                    }

                    .vh_normal_txt {
                        align-self: center;
                    }
                }

                &__btn_area {
                    background-color: rgba(0, 0, 0, 0.8);
                    z-index: 2;
                    padding: 3px 3px;
                    border-radius: 2px;

                    .hv_checked_icon {

                        &>.ytb_svg_x>.ytb_svg_x__wrapper {
                            height: 20px;
                        }
                    }

                    &:hover {
                        background-color: #000;
                        border-radius: 0 2px 2px 0;
                    }
                }

                &--duration {
                    bottom: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 2px 4px;
                    line-height: .9rem;
                }

                &--playing {
                    display: flex;
                    background-color: rgba(0, 0, 0, 0.7);
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    margin: 0 !important;
                    text-transform: uppercase;
                    justify-content: center;
                    align-items: center !important;
                    z-index: 1;
                    position: absolute;

                }

                &:hover {

                    .vh_inner_btn__slider_txt {
                        transform: translateX(1px);
                        z-index: 1;
                    }
                }

                &--queue {
                    display: none;
                    top: 33px;
                }

                &--clock {
                    display: none;
                    top: 0;
                }
            }
        }

        // ---

        &__body_container {
            @include display-flex();
            position: relative;


            .vh_ch_thumbnail {

                margin-top: 12px;
                margin-right: 12px;

                &__wrap {
                    cursor: pointer;

                    .ch_skltn {
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        border: 0;

                        &--dark {
                            background-color: colors(Skeleton_Dark_color);
                        }

                        &--light {
                            background-color: colors(Skeleton_Light_color);
                        }

                        &__img {
                            position: relative;
                            height: 36px;
                            width: 36px;
                            border-radius: 50%;
                            border: 0;
                        }
                    }
                }
            }

            .vh_dot_btn {
                display: none;
                padding-top: 12px;
                position: absolute;
                right: 0;

                &--dark {

                    // Dark Theme
                    &:hover .icon_container>.icon_>g>path {
                        fill: #fff;

                    }
                }

                &--light {

                    // Light Theme
                    &:hover .icon_container>.icon_>g>path {
                        fill: #2c2c2c;
                    }
                }
            }

            .vh_text_area {
                display: block;
                padding-right: 24px;
                font-size: 1.4em;


                &__vid_title {

                    text-decoration: none;
                    font-family: Roboto-Medium;
                    font-size: 1.01em;

                    //font-weight: 600;

                    &--dark {
                        // Dark Theme
                        color: colors(VidTitle_Dark_Color);
                    }

                    &--light {
                        // Light Theme
                        color: colors(VidTitle_Light_Color);
                    }

                    &__title {
                        margin: 12px 0 4px 0;
                        cursor: pointer;
                    }
                }


                &__ch_title {
                    text-decoration: none;
                    position: relative;

                    &::before {
                        position: absolute;
                        z-index: 2;
                        display: none;
                        text-align: center;
                        padding: 8px;
                        font-size: .9em;
                        border-radius: 2px;
                        @include transform(translateX(-50%));
                        top: calc(-100% - 25px);
                        left: 50%;
                        width: 95px;
                        content: attr(data-content);
                    }

                    &--dark {
                        // Dark Theme
                        color: colors(ChTitle_Dark_Color);

                        &:hover {
                            color: #fff;
                        }

                        &::before {
                            color: #e0e0e0;
                            background-color: colors(Theme-hover-Dark);

                        }
                    }

                    &--light {
                        // Light Theme
                        color: colors(ChTitle_Light_Color);

                        &:hover {
                            color: #000;
                        }

                        &::before {
                            background-color: colors(Theme-hover-Light);
                            color: #000;
                            border: 1px solid rgba(85, 85, 85, 0.247);
                        }
                    }

                    &:hover::before {
                        display: inline-block;
                    }
                }

                &__duration {

                    padding-top: 1px;

                    &--dark {
                        color: colors(Duration_Dark_Color);
                    }

                    &--light {
                        color: colors(Duration_Light_Color);
                    }

                    .vid_view_num {

                        &:after {
                            content: "•";
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }
}