@import '../../../sass/config.scss';

.item {
    padding-bottom: 8px;


    &:hover>.wrapper>.thumbnail_con>.inner_btn {
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;

    }

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .thumbnail_con {

        position: relative;
        cursor: pointer;
        margin-right: 8px;
        height: 94px;
        width: 168px;

        .thumb_wrapper {
            margin-right: 8px;
            height: 94px;
            width: 168px;

            .img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: none;
                max-width: 100%;
                border-radius: none;
            }
        }

        // ========================
        //     inner btn Style
        // ========================

        .inner_btn {

            position: absolute;
            right: 0;
            margin: 2px;
            color: #fff;
            border-radius: 2px;
            letter-spacing: 0.5px;
            font-size: .8rem;
            overflow: hidden;


            .slider {
                @include display-flex();
                @include justifyContent-center();
                @include alignItems-center;
                position: relative;
                text-transform: uppercase;
                transform: translateX(135px);
                background-color: #000;
                transition: transform 0.35s ease-in-out;
                z-index: 0;
                padding: 3px 6px;
                border-radius: 2px 0 0 2px;


                &__check {
                    color: #3ea6ff;
                }

                &__normal {
                    align-self: center;
                }
            }

            .icon_btn {
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 2;
                padding: 1px;
                border-radius: 2px;


                &__check {

                    &>:global(.ytb_svg_x)>:global(.ytb_svg_x__wrapper) {

                        height: 20px;
                    }
                }

                &:hover {
                    background-color: rgb(0, 0, 0);
                    border-radius: 0 2px 2px 0;
                }
            }

            &--duration {
                bottom: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                padding: 2px 4px;
                line-height: 0.9rem;

            }

            &--queue {
                display: none;
                top: 33px;

            }

            &--clock {
                display: none;
                top: 0;
            }
        }
    }

    .body {
        width: 100%;
        min-width: 0;

        .wrap {
            min-width: 0;
            width: 100%;
            padding-right: 24px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
        }

        .title {
            color: #fff;
            font-size: .8rem;
            font-family: Roboto-Medium;
            cursor: pointer;
            margin: 0 0 4px 0;
            max-height: 3.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        .details {

            @include display-flex();
            max-width: 100%;
            max-height: 1.8rem;
            padding-top: 1px;
            font-size: .87rem;
            text-transform: none;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            color: rgb(170, 170, 170);

            &--dark {
                // Dark Theme
                color: colors(Duration_Dark_Color);
            }

            &--light {
                // Light Theme
                color: colors(Duration_Light_Color);
            }

            // ---

            &__dot {

                margin: 0 4px;

                &--dark {
                    // Dark Theme 
                    color: #c2c2c2;
                }

                &--light {
                    // Light Theme
                    color: #4d4d4d;
                }
            }

            // ---

            &__stat {

                display: flex;

                &--dark {
                    // Dark Theme 
                    color: #c2c2c2;
                }

                &--light {
                    // Light Theme
                    color: #4d4d4d;
                }
            }

            &__cha_title {
                cursor: pointer;
            }
        }
    }
}