@import "../../../sass/config.scss";

.bg {
  position: absolute;
  background-color: #00000057;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;

}

.container {

  position: fixed;
  top: 56px; // nav height
  left: 0;
  bottom: 0;
  height: calc(100% - 56px);
  box-sizing: border-box;
  background-color: transparent;
  z-index: 5;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;

  // shorthand property transition:
  // transition: transform 250ms ease-in-out 1s;

  @media screen and (max-width: 810px) {
    width: 100%;
  }

  // move svg to the right on hover
  &:hover>.wrapper>.content_container>.content_wrapper>.notisvg>.svg_con {
    padding-right: 0 !important;
  }

  // Show Scroll Bar On Hover

  &:hover>.wrapper>.content_container {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  // ---
  .wrapper {
    @include display-flex();
    position: absolute;
    flex-flow: column nowrap;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    outline: none;
    box-sizing: border-box !important;
    max-width: 240px;
    max-height: 100%;
    height: 100%;
    width: 240px;

    &--dark {
      // Dark Theme
      color: #fff;
      border-bottom: 1px solid colors(border-color-Dark);
      border-left: 1px solid colors(border-color-Dark);
      background-color: lighten(colors(Nav-background-Dark), .8%);

      @extend %scroll-Dark;
    }

    &--light {
      // Light Theme
      color: #1f1f1f;
      border-bottom: 1px solid colors(border-color-Light);
      border-left: 1px solid colors(border-color-Light);
      background-color: darken(colors(Nav-background-Light), .4%);
      @extend %scroll-Light;
    }
  }

  // ---

  .content_container {
    @include display-flex();
    justify-content: flex-start;
    flex-flow: column nowrap;
    font-size: .88rem;
    padding-top: 10px;
    overflow: hidden;

  }

  // ---

  .content_wrapper {
    @include display-flex();
    @include justifyContent-center();
    @include alignItems-center;
    cursor: pointer;

    &--dark {
      &:hover {
        // Dark Theme
        background-color: colors(Theme-hover-Dark);
      }

      &:active {
        background-color: lighten(colors(Theme-hover-Dark), 5%);
      }

      &--active {

        font-family: Roboto-Medium;
        color: #fff;
        background-color: colors(Theme-hover-Dark);

        &:hover {
          background-color: #636363;
        }

        &:active {
          background-color: lighten(colors(Theme-hover-Dark),
              5%) !important;
        }
      }
    }

    &--light {
      &:hover {
        // Light Theme
        background-color: colors(Theme-hover-Light);
      }

      &:active {
        background-color: darken(colors(Theme-hover-Light), 3%);
      }

      &--active {

        font-family: Roboto-Medium;
        color: #030303;
        background-color: #0000001a;

        &:hover {
          background-color: hsla(0, 0%, 0%, 0.192);
        }

        // current
        &:active {
          background-color: hsla(0, 0%, 0%, 0.25);
        }
      }
    }
  }

  // ---

  .text_container {
    @include display-flex();
    @include alignItems-center();
    justify-content: flex-start;
    flex: 1;

    .text_wrap {
      @include display-flex();
      @include justifyContent-center();
      @include alignItems-center;
    }
  }

  // ---

  .notisvg {

    &>.svg_con {
      padding-top: 5px;
      padding-right: 0.65em;
    }
  }

  // ---

  .content_icon {
    padding: 8px 20px 8px 21px;
  }


  // ---
  .pronail {

    border-radius: 50%;

    &--dark {
      background-color: lighten(colors(Nav-background-Dark), 5%);
    }

    &--light {
      background-color: lighten(colors(Nav-background-Light), 5%);
    }
  }

  // ---

  .line {

    margin: 10px 0;
    height: 0px !important;
    padding: 1px 0;

    &--dark {
      // Dark Theme
      background-color: colors(border-color-Dark);
    }

    &--light {
      // Light Theme
      background-color: colors(border-color-Light);
    }
  }

  // ---

  .about {

    padding: 8px 20px 8px 20px;

    &--dark {
      color: #cacaca;
    }

    &--light {
      color: #3a3a3a;
    }

    .txt {

      padding: 5px 0;

      &--x {
        margin-bottom: 20px;
      }

      &--name {
        font-family: Roboto-Medium;
      }

      .tt {

        font-family: Roboto-Medium;
        text-decoration: underline;

        &--dark {

          color: #dff0ff;
        }

        &--light {

          color: #34343d;
        }
      }
    }
  }

  // ---

  .subtitle {

    font-family: Roboto-Medium;
    padding: 8px 20px 8px 21px;


    &--dark {
      color: #f1f1f1;
    }

    &--light {
      color: #333;
    }
  }
}