@import "../../../../../scss/config.scss";

.container {

    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    padding: 8px 0;
    top: 55px;
    z-index: 10;

    &--dark {
        // Dark Theme
        border-bottom: 1px solid colors(border-color-Dark);
        border-left: 1px solid colors(border-color-Dark);
        border-right: 1px solid colors(border-color-Dark);
        background-color: colors(Nav-background-Dark);
    }

    &--light {
        // Light Theme
        border-bottom: 1px solid colors(border-color-Light);
        border-left: 1px solid colors(border-color-Light);
        border-right: 1px solid colors(border-color-Light);
        background-color: colors(Nav-background-Light);
    }


    .textcon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 25px 10px 13px;
        cursor: pointer;
        text-decoration: none;

        &--dark {
            // Dark Theme
            color: #fff;

            &:hover {
                // Dark Theme
                background-color: colors(Theme-hover-Dark);
            }
        }

        &--light {
            // Ligth Theme
            color: #212121;

            &:hover {
                // Light Theme
                background-color: colors(Theme-hover-Light)
            }
        }

        .icon_wrap {
            margin-right: 7px
        }

        .text_wrap {
            font-size: 0.95rem;
            font-weight: 400;
        }
    }

    .line {
        margin: 5px 0;

        &--dark {
            // Dark Theme
            background-color: colors(border-color-Dark);
            height: 2px;
        }

        &--light {
            // Light Theme
            background-color: colors(border-color-Light);
            height: 1px;
        }
    }
}

.position {
    &--cam_drop {
        right: 50px;
    }

    &--app_drop {
        right: 130px;
    }
}