@import "../../../../../scss/config.scss";


.container {

    display: flex;
    position: absolute;
    flex-flow: column nowrap;
    padding: 8px 0;
    top: 50px;
    right: 80px;
    z-index: 2;
    outline: none;
    box-sizing: border-box;
    // max-width: 480px;
    // max-height: 550px;
    height: 550px;
    width: 480px;
    font-size: 1.01em;
    font-family: Roboto-Medium;

    &--dark {
        // Dark Theme
        color: #fff;
        border-bottom: 1px solid colors(border-color-Dark);
        border-left: 1px solid colors(border-color-Dark);
        border-right: 1px solid colors(border-color-Dark);
        background-color: colors(Nav-background-Dark);
        @extend %scroll-Dark;
    }

    &--light {
        // Light Theme
        color: #212121;
        border-bottom: 1px solid colors(border-color-Light);
        border-left: 1px solid colors(border-color-Light);
        border-right: 1px solid colors(border-color-Light);
        background-color: colors(Nav-background-Light);
        @extend %scroll-Light;
    }


    @media (max-width: 1210px) {
        top: 60px;
        right: 60px;
    }

    @media (max-width: 600px) {
        top: 60px;
        right: 3px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 7px 0;

        &__text {
            margin-left: 16px;
            font-size: 1.5em;
        }

        &__icon {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .spinner {
        height: 550px;
        justify-content: center !important;
    }

    .body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: column nowrap;
        overflow-y: scroll;
        overflow-x: hidden;

        .block {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            padding: 20px 10px 5px 0;
            cursor: pointer;

            &:hover>.btn {
                opacity: 1;
            }

            &--dark {
                &:hover {
                    // Dark Theme
                    background-color: colors(Theme-hover-Dark);
                }

                &:hover .cover {
                    // Dark Theme
                    background-color: colors(Theme-hover-Dark) !important;
                }
            }

            &--light {
                &:hover {
                    // Light Theme
                    background-color: colors(Theme-hover-Light);
                }

                &:hover .cover {
                    // Dark Theme
                    background-color: colors(Theme-hover-Light) !important;
                }
            }

            .unread {
                display: block;

                .dot {
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    margin-left: 8px;
                    margin-right: 5px;

                    &--light {
                        background-color: #065fd4;
                    }

                    &--dark {
                        background-color: #3ea6ff;
                    }

                    &--transparent {
                        background-color: transparent;
                    }
                }
            }

            .pronail {

                margin-right: 16px;
                flex: none;
                align-self: center;
            }

            .textcon {
                display: block;
                font-size: 1.3em;

                &__title {
                    margin-bottom: 10px;
                }

                &__date {
                    color: #aaa;
                    color: #757575ec;
                    text-transform: none;
                }
            }

            .thumbnail {
                display: block;
                box-sizing: border-box;
                margin: 0 16px;

                .wrapper {
                    background-color: transparent;
                    position: relative;

                    .cover {
                        height: 10px;
                        position: absolute;
                        width: 90px;

                        &--top {
                            top: 0;

                            &--dark {
                                // Theme Dark
                                background-color: colors(Nav-background-Dark);
                            }

                            &--light {
                                // Theme Light

                                // I choose white (#fff) over colors(Nav-background-Light) 
                                // because in a high resolution monitors like (1440px)
                                // you can see differ in the colors. ¯\_(ツ)_/¯
                                background-color: #fff;

                            }
                        }

                        &--bottom {
                            bottom: 0;

                            &--dark {
                                // Theme Dark
                                background-color: colors(Nav-background-Dark);
                            }

                            &--light {
                                // Theme Light
                                background-color: #fff;
                            }
                        }
                    }

                    .thumb_img {
                        align-self: center;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: none;
                    }
                }
            }

            .btn {
                align-self: stretch;
                opacity: 0;
            }
        }
    }
}