$colors: (hover-Dark: #484848,
  Nav-background-Dark:#282828,
  general-background-Dark: #1f1f1f,
  border-color:#303030);


@function colors($color) {
  @return map-get($colors, $color);
}

@mixin High-resolution {
  @media (min-width: 1440px) {
    padding-right: calc((100vw - 1440px) / 2 + 24px);
    padding-left: calc((100vw - 1440px) / 2 + 24px);
  }
}

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin alignItems-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

@mixin justifyContent-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors(general-background-Dark);
}

button {
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}

._dis_flex_items_center_ {
  display: flex;
  align-items: center;
}