$colors: (Theme-hover-Dark: #484848,
  Theme-hover-Light: #ebebeb,
  Nav-background-Dark:#282828,
  Nav-background-Light:#fffffffa,
  general-background-Dark: #1f1f1f,
  general-background-Light: #f9f9f9,
  border-color-Dark:#363636,
  border-color-Light:#ccc,

);


@function colors($color) {
  @return map-get($colors, $color);
}

@mixin High-resolution {
  @media (min-width: 1440px) {
    padding-right: calc((100vw - 1440px) / 2 + 24px);
    padding-left: calc((100vw - 1440px) / 2 + 24px);
  }
}

@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin alignItems-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

@mixin justifyContent-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}


%scroll-Dark {
  ::-webkit-scrollbar {
    width: 0.65em;
  }

  ::-webkit-scrollbar-thumb {
    background: #424242;
    background-clip: padding-box;
    border: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #4d4d4d;
  }
}

%scroll-Light {
  ::-webkit-scrollbar {
    width: 0.65em;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: padding-box;
    border: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
  }
}