body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$colors: (hover-Dark: #484848,
  Nav-background-Dark:#282828,
);

@function colors($color) {
  @return map-get($colors, $color);
}

@mixin High-resolution {
  @media (min-width: 1440px) {
    padding-right: calc((100vw - 1440px) / 2 + 24px);
    padding-left: calc((100vw - 1440px) / 2 + 24px);
  }
}