@mixin High-resolution {
  @media (min-width: 1440px) {
    padding-right: calc((100vw - 1440px) / 2 + 24px);
    padding-left: calc((100vw - 1440px) / 2 + 24px);
  }
}

%scroll {
  ::-webkit-scrollbar {
    width: 0.65em;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-bgc);
    background-clip: padding-box;
    border: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-bgc);
  }
}