@import '../../sass/config_style.scss';

.root_container {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;

    &--dark {
        // Dark Theme
        background-color: colors(general-background-Dark) !important;
    }

    &--light {
        // Light Theme
        background-color: colors(general-background-Light) !important;
    }

    .page_container {
        margin-top: 56px;
    }
}

#page-manager {
    margin-left: 240px;
}