@import '../../config_style.scss';

.home_container {
    margin-left: 240px;

    @media screen and (max-width: 810px) {
        margin-left: 0px !important;
    }

    @media screen and (max-width: 750px) {
        margin: 0px 35px !important;
    }

    .home_content {
        margin: 0 24px 0 24px;

        &__video_wrapper {
            display: flex;
            flex-flow: row wrap;
            margin-top: 15px;
        }

        &__title_wrapper {

            padding-top: 36px;
            padding-left: calc(16px / 2);


            .home_title {

                font-size: 2em;
                font-family: Roboto-Medium;

                &--dark {
                    color: #fff;
                }

                &--light {
                    color: #212121;
                }
            }
        }
    }
}