@import '../../sass/config_style.scss';


.watch_container {

    padding-top: 24px;
    display: flex;
    flex-flow: row nowrap;

    @media screen and (max-width: 1016px) {
        flex-flow: column nowrap;
    }

    .watch_primary {
        padding-right: 24px;
        margin-left: 24px;
        background-color: #000;
        max-width: calc((100vh - (56px + 24px + 136px)) * (16/9));
        min-width: calc(480px * (16/9));
        flex: 1;

        &__inner {

            .watch_player_container {
                position: relative;

                &__inner {

                    height: 400px;
                    transition: opacity 300ms;

                    &--visible {
                        opacity: 1;
                    }

                    &--hidden {
                        opacity: 0;
                    }
                }
            }
        }
    }

    .watch_secondary {
        margin-right: 24px;
        width: 402px;
        min-width: 300px;
        background-color: greenyellow;
    }
}