@import "../../config_style.scss";

.wvl_container {
    margin-left: 240px;
    display: flex;
    height: calc(100vh - 56px);

    &-dark {
        // Dark Theme
        color: #fff;
        @extend %scroll-Dark;
    }

    &-light {
        // Light Theme
        color: #212121;
        @extend %scroll-Light;
    }



    @media screen and (max-width: 810px) {
        margin-left: 0px !important;
        flex-flow: column;
    }

    &> ::-webkit-scrollbar {
        width: 1em;
    }

    .rigth_container {

        justify-content: center;
        align-items: flex-start;
        display: flex;
        position: relative;
        flex: 1.25;

        &-dark {
            // Dark Theme
            background-color: #181818;
        }

        &-light {
            // Light Theme
            background-color: #f7f7f7;
        }


        @media screen and (max-width: 810px) {
            height: 50vh;
            justify-content: flex-start;

        }

        .main_thumb {

            padding: 24px 32px;
            overflow: hidden;

            @media screen and (max-width: 810px) {
                display: flex;
                padding: 12px 16px;
            }

            .wl_img_thumb_wrap {
                position: relative;
                cursor: pointer;


                @media screen and (max-width: 810px) {
                    overflow: hidden;
                    flex: 2;
                }

                .wl_xx {
                    width: 357px;
                    height: auto;
                    margin-bottom: 16px;

                    .wl_img_thumb {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-height: none;
                        max-width: 100%;
                        border-radius: none;
                    }
                }

                .wl_ab {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.75);
                    padding: 13px 0;


                    .wl_plall_txt {
                        align-self: center;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        padding-left: 10px;
                    }
                }
            }

            .wl_con_xl {

                @media screen and (max-width: 810px) {
                    width: 100%;
                    margin-left: 20px;
                    flex: 1;
                }

                .wl_title {
                    font-size: 2.3em;
                    padding: 5px 0;
                }

                .wl_stat {
                    display: flex;
                    padding: 10px 0;
                    font-size: 1.4em;
                    position: relative;

                    &-dark {
                        // Dark Theme
                        color: colors(ChTitle_Dark_Color);
                    }

                    &-light {
                        // Light Theme
                        color: colors(ChTitle_Light_Color);
                    }


                    .rvch_dot {
                        margin: 0 4px;
                    }

                    .rallD {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        background-color: #303030;
                        left: 20%;
                        bottom: -50%;
                        padding: 5px 25px 5px 0;
                        cursor: pointer;
                        border-radius: 4px;
                        z-index: 10;


                        &-dark {
                            // Dark Theme
                            background-color: colors(Nav-background-Dark);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                                0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

                            &:hover {
                                background-color: #363636;
                            }
                        }

                        &-light {
                            // Light Theme
                            background-color: colors(Nav-background-Light);
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
                                0 1px 5px 0 rgba(0, 0, 0, 0.1),
                                0 3px 1px -2px rgba(0, 0, 0, 0.1);

                            &:hover {
                                background-color: #eeeeee;
                            }
                        }

                        span {
                            padding-left: 10px;
                        }
                    }

                    .wl_svg {
                        margin-left: -5px;
                        padding: 5px;

                        &-dark {

                            // Dark Theme
                            &:hover>.icon_container_y>.icon_y_>g>path {
                                fill: #fff;
                            }

                            &:hover>.icon_container>.icon_>g>path {
                                fill: #fff;
                            }

                            &:active {
                                background-color: #464646;
                                border-radius: 50%;
                            }
                        }


                        &-light {
                            // Light Theme

                            &:hover>.icon_container_y>.icon_y_>g>path {
                                fill: #000;
                            }

                            // Light Theme

                            &:hover>.icon_container>.icon_>g>path {
                                fill: #000;
                            }

                            &:active {
                                background-color: #dbdbdb;
                                border-radius: 50%;
                            }
                        }

                        &:nth-child(2) {
                            margin-left: 20px;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        .wl_line {
            margin: 5px 0;
            height: 1px;
            width: 100%;

            &-dark {
                // Dark Theme
                background-color: colors(border-color-Dark);
            }

            &-light {
                // Light Theme
                background-color: colors(border-color-Light);
            }
        }

        .wl_prof_details {
            display: flex;
            align-items: center;
            padding: 15px 0;

            .wl_imgpro_wrap {
                padding-right: 15px;

                .wl_imgpro {
                    border-radius: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-height: none;
                    max-width: 100%;
                    border-radius: none;
                }
            }

            .wl_namepro {
                font-size: 1.5em;
            }
        }
    }

    .left_container {

        padding-right: 24px;
        padding-top: 8px;
        flex: 2;
        overflow-y: scroll;
        overflow-x: hidden;

        &-dark {
            // Dark Theme
            background-color: #111111;
        }

        &-light {
            // Light Theme
            background-color: #eeeeee;
        }

        @media screen and (max-width: 1150px) {
            padding-right: 0 !important;
        }

        .wl_items_container {
            display: flex;
            flex-flow: column nowrap;


            .wl_sby_con {
                padding: 16px 0 8px 36px;
                border-radius: 10px;

                .wl_sby {
                    display: flex;
                    align-items: center;
                    padding: 5px 5px 5px 0;

                    &-dark {
                        // Dark Theme
                        color: #c7c7c7;
                    }

                    &-light {
                        // Light Theme
                        color: #303030;
                    }

                    span {
                        padding-left: 10px;
                        font-size: 1em;
                        text-transform: uppercase;

                    }
                }
            }

            // ======item=======

            .wl_v_container {
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                min-width: 0;

                &-dark {

                    // Dark Theme
                    &:hover {
                        background-color: #202020;
                    }
                }

                &-light {

                    // Light Theme
                    &:hover {
                        background-color: #dbdbdb;
                    }
                }

                &:hover>.wl_ccc>.wl_v_textarea_con>.wl_v_a_xl>.icon_container>.icon_>g>path {
                    fill: #909090;
                }

                .wl_dr_svg {
                    padding: 0 6px;
                    align-self: stretch;
                    display: flex;
                    align-items: center;
                    cursor: grab;

                    &>.icon_container_y>.icon_y_ {
                        cursor: grab;
                    }
                }

                // -----

                .wl_ccc {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding: 16px 0;
                    flex: 1;
                    box-sizing: border-box;

                    &-dark {
                        // Dark Theme
                        border-bottom: 1px solid #202020;
                    }

                    &-light {
                        // Light Theme
                        border-bottom: 1px solid #dbdbdb;
                    }


                    .wl_v_thumb_xl {
                        position: relative;
                        margin-right: 8px;
                        height: 68px;
                        width: 120px;

                        .wl_immg_xl {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            max-height: none;
                            max-width: 100%;
                            border-radius: none;
                        }

                        .wl_vh_ab {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin: 4px;
                            color: #fff;
                            border-radius: 2px;
                            letter-spacing: 0.5px;
                            font-size: 0.8rem;
                            background-color: rgba(0, 0, 0, 0.8);
                            padding: 2px 4px;
                            line-height: 0.9rem;
                        }
                    }

                    .wl_v_textarea_con {
                        display: flex;
                        flex: 1;
                        align-self: flex-start;
                        justify-content: space-between;

                        .wl_v_title_con {

                            display: block;
                            width: 100%;

                            .wl_v_title_xl {

                                display: flex;
                                padding-bottom: 10px;
                                overflow: hidden;

                                span {
                                    font-size: 1.55em;
                                    overflow: hidden;

                                    @media screen and (max-width: 1150px) {
                                        font-size: 1.2em !important;
                                        height: 15px;
                                    }
                                }
                            }

                            .wl_ch_title_xl {

                                font-size: 1.25em;

                                &-dark {
                                    // Dark Theme
                                    color: colors(ChTitle_Dark_Color);

                                    &:hover {
                                        color: #fff;
                                    }
                                }

                                &-light {
                                    // Light Theme
                                    color: colors(ChTitle_Light_Color);

                                    &:hover {
                                        color: #333;
                                    }
                                }
                            }
                        }

                        .wl_v_a_xl {
                            display: flex;
                            align-self: flex-start;
                            top: 20%;
                            right: 0;

                            &>.icon_container>.icon_>g>path {
                                fill: transparent;
                            }

                            &-dark {
                                // Dark Theme

                                &:hover>.icon_container>.icon_>g>path {
                                    fill: #fff;
                                }
                            }

                            &-light {
                                // Light Theme

                                &:hover>.icon_container>.icon_>g>path {
                                    fill: #333;
                                }
                            }
                        }


                        .wl_menu_drop {
                            position: absolute;
                            width: 240px;
                            box-sizing: border-box;
                            max-width: 249px;
                            max-height: 213px;
                            right: 0;
                            top: 50%;
                            border-radius: 4px;
                            z-index: 10;
                            padding: 8px 0;

                            &-dark {
                                // Dark Theme
                                background-color: colors(Nav-background-Dark);
                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                                    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                            }


                            &-light {
                                // Light Theme
                                background-color: colors(Nav-background-Light);

                                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
                                    0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
                            }



                            @media screen and (max-width: 1150px) {
                                top: -50% !important;
                            }

                            .wlmd_line_txt_con {
                                display: flex;
                                padding: 5px 36px 5px 16px;
                                align-items: center;

                                &-dark {
                                    &:hover {
                                        background-color: colors(Theme-hover-Dark);
                                    }
                                }


                                &-light {
                                    &:hover {
                                        background-color: colors(Theme-hover-Light);
                                    }
                                }

                                .wlmd_svg_wrap {
                                    margin-right: 16px;

                                    &>.icon_container_x>.icon_x_ {
                                        transform: scale(1.25);

                                    }
                                }

                                .wlmd_txt_area {
                                    font-size: 1.3em;

                                    &-dark {
                                        // Dark Theme
                                        color: #fff;
                                    }

                                    &-light {
                                        // Light Theme
                                        color: #212121;
                                    }
                                }
                            }

                            .wlmd_line {
                                margin: 5px 0;
                                height: 1px;
                                width: 100%;

                                &-dark {
                                    // Dark Theme
                                    background-color: #3b3b3b;
                                }

                                &-light {
                                    // Light Theme
                                    background-color: #cecece;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}