@import "../../scss/config";

.container {
    display: flex;
    height: calc(100vh - 56px);
    color: var(--VidTitle-Color);
    @extend %scroll;


    @media screen and (max-width: 810px) {
        margin-left: 0px !important;
        flex-flow: column;
    }

    &> ::-webkit-scrollbar {
        width: 1em;
    }

    .right_container {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        position: relative;
        flex: 1.25;
        background-color: var(--miniplayer-item-bgc);


        @media screen and (max-width: 810px) {
            height: 50vh;
            justify-content: flex-start;
        }

        .main_thumb {
            padding: 24px 32px;
            overflow: hidden;

            @media screen and (max-width: 810px) {
                display: flex;
                padding: 12px 16px;
            }

            .thumbnail {
                position: relative;
                cursor: pointer;

                @media screen and (max-width: 810px) {
                    overflow: hidden;
                    flex: 2;
                }

                .imgwrapper {
                    width: 357px;
                    height: auto;
                    margin-bottom: 16px;

                    &__img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-height: none;
                        max-width: 100%;
                        border-radius: none;
                    }
                }

                .inner_bg {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    color: #fff;
                    background-color: #000000bf;
                    padding: 15px 0;

                    &__txt {
                        align-self: center;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        padding-left: 10px;
                    }
                }
            }

            .details {
                @media screen and (max-width: 810px) {
                    width: 100%;
                    margin-left: 20px;
                    flex: 1;
                }

                &__title {
                    font-size: 2.3em;
                    padding: 5px 0;
                }

                .stat {
                    display: flex;
                    padding: 10px 0;
                    font-size: 1.4em;
                    position: relative;
                    color: var(--ChTitle-Color);


                    &__dot {
                        margin: 0 4px;
                    }

                    &__drop {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        left: 20%;
                        bottom: -50%;
                        padding: 5px 25px 5px 0;
                        cursor: pointer;
                        border-radius: 4px;
                        z-index: 10;
                        background-color: var(--Nav-bgc);
                        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
                            0 1px 5px 0 rgba(0, 0, 0, 0.1),
                            0 3px 1px -2px rgba(0, 0, 0, 0.1);

                        &:hover {
                            background-color: var(--miniplayer-hover-bgc);
                        }

                        &> :global(.ytb_svg_y) {
                            padding-left: 10px;
                        }

                        span {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }

                    &__svg {
                        margin-left: -5px;
                        padding: 5px;

                        &:hover> :global(.ytb_svg_y)> :global(.ytb_svg_y__wrapper)>g>path {
                            fill: var(--black-in-dl);
                        }

                        &:hover> :global(.ytb_svg)> :global(.ytb_svg__wrapper)>g>path {
                            fill: var(--black-in-dl);
                        }

                        &:active {
                            background-color: var(--miniplayer-hover-bgc);
                            border-radius: 50%;
                        }

                        &:nth-child(2) {
                            margin-left: 20px;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        // ---

        .user_details {
            display: flex;
            align-items: center;
            padding: 15px 0;

            .userwrap {
                padding-right: 15px;
            }

            &__name {
                font-family: Roboto-Medium;
                font-size: 1.5em;
            }
        }
    }

    .left_container {
        padding-right: 24px;
        padding-top: 8px;
        flex: 2;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: var(--wlv-bgc-lc);

        @media screen and (max-width: 1150px) {
            padding-right: 0 !important;
        }

        .items_container {
            display: flex;
            flex-flow: column nowrap;

            .bsort {
                padding: 16px 0 8px 36px;
                border-radius: 10px;

                &__btn {
                    display: flex;
                    align-items: center;
                    padding: 5px 5px 5px 0;
                    font-size: 1.35em;
                    font-family: Roboto-Medium;
                    color: var(--ChTitle-Color);

                    span {
                        padding-left: 10px;
                        font-size: 1em;
                        text-transform: uppercase;
                    }
                }
            }

            .item_container {
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
            }
        }
    }
}