@import '../../config_style.scss';

$miniplayer-width: 400px;
$miniplayer-height: 225px;
$miniplayer-playlist-height: 285px;
$miniplayer-header-width:64px;


.ytb_miniplayer {
    position: fixed;
    bottom: 0;
    width: $miniplayer-width;
    right: 12px;
    z-index: 5;
    pointer-events: auto;
    display: block;
    transition-property: transform;
    transition-duration: 366ms;
    transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
    will-change: transform;
    touch-action: none;
    user-select: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    &--dark {
        // Dark Theme
        @extend %scroll-Dark;
    }

    &--light {
        // Light Theme
        @extend %scroll-Light;
    }

    &__wrapper {
        position: relative;
        left: 0px;
        top: 0px;
        width: $miniplayer-width;
        display: flex;
        flex-direction: column;

        &--dark {
            // Dark Theme
            color: colors(VidTitle_Dark_Color);
            background-color: #212121fa;
        }

        &--light {
            // Ligth Theme
            color: colors(VidTitle_Light_Color);
            background-color: #fff;
        }
    }

    // --- 

    &__video_container {

        width: $miniplayer-width;
        height: $miniplayer-height;
        background-color: #000;
        position: relative;
        flex: none;


        &:hover>.ytb_inner_btn {
            display: flex;
        }

        .ytb_inner_btn {

            position: absolute;
            display: none;
            cursor: pointer;
            align-items: center;
            top: calc(50% - 68px/2);

            &--prev {
                padding-left: 65px;
                left: 0;

                &>.ytb_svg>.ytb_svg__wrapper {
                    width: 68px;
                    height: 68px;
                }
            }

            &--next {
                padding-right: 65px;
                right: 0;

                &>.ytb_svg>.ytb_svg__wrapper {
                    width: 68px;
                    height: 68px;
                }
            }

            &--expandbtn {
                padding: 5px;
                left: 0;
                top: 0;

                &>.ytb_svg>.ytb_svg__wrapper {
                    width: 30px;
                    height: 30px;
                }
            }

            &--closebtn {
                padding: 5px;
                right: 0;
                top: 0;


                &>.ytb_svg>.ytb_svg__wrapper {
                    width: 32px;
                    height: 32px;
                }
            }

            &--mid {
                right: calc(50% - 68px/2);

                &>.ytb_svg>.ytb_svg__wrapper {
                    width: 68px;
                    height: 68px;
                }
            }
        }
    }

    // ---

    &__header_container {
        height: $miniplayer-header-width;
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        &--dark {
            // Dark Theme
            color: colors(VidTitle_Dark_Color);
        }

        &--light {
            // Light Theme
            color: colors(VidTitle_Light_Color);
        }

        .ytb_header_wrap {
            padding: 14px 16px 16px;
            overflow: hidden;
            cursor: pointer;
            font-size: 1.4em;

            &__title {
                // hide text overflow
                overflow: hidden;
                height: 50%;
            }

            &__qcounter {
                display: flex;
                align-items: center;
                margin-top: 4px;
                font-size: .85em;
                line-height: 1.5em;

                &--dark {
                    // Dark Theme
                    color: colors(ChTitle_Dark_Color);
                }

                &--light {
                    // Light Theme
                    color: colors(ChTitle_Light_Color);
                }

                span {
                    padding: 0 3px;
                }
            }
        }

        .ytb_arrow_btn {
            display: flex;
            justify-content: center;
            padding-right: 16px;


            &__btnwrap {

                align-self: center;
                box-sizing: border-box;
                padding: 1px;
                border-radius: 50%;

                &--dark {

                    // Dark Theme
                    &:active {

                        background-color: #575757;
                    }

                    &>.ytb_svg>.ytb_svg__wrapper>g>path {

                        fill: #fff;
                    }
                }

                &--light {

                    // Light Theme
                    &:active {
                        // Theme
                        background-color: #a5a5a5;

                        &>.ytb_svg>.ytb_svg__wrapper>g>path {
                            // Theme
                            fill: #000;
                        }
                    }

                    &>.ytb_svg>.ytb_svg__wrapper>g>path {
                        // Theme
                        fill: #333;
                    }
                }
            }
        }
    }

    // ---

    &__playlist_container {

        width: $miniplayer-width;
        height: $miniplayer-playlist-height;
        box-sizing: border-box;
        position: relative;

        &--dark {
            // Dark Theme 
            border: 1px solid #3b3b3bbd;
        }

        &--light {
            // Light Theme 
            border: 1px solid #ccccccbd;
        }


        .ytb_playlist_panel {

            position: absolute;
            z-index: 5;
            height: 40px;
            top: 0;
            right: 0;
            left: 0;

            &--dark {
                // Dark Theme
                background-color: #212121fa;
            }

            &--light {
                // Ligth Theme
                background-color: #fff;
            }

            &__txt_wrap {
                padding: 8px 16px;
                display: flex;
                align-items: center;
                z-index: 5;

                span {
                    cursor: pointer;
                    font-size: 1.2em;
                    padding-left: 5px;
                    text-transform: uppercase;
                }
            }
        }

        .ytb_playlist_items {

            padding-top: 45px !important;
            box-sizing: border-box;
            height: 100%;
            padding: 4px 0;
            overflow-x: hidden;
            overflow-y: scroll;

            &--dark {
                // Dark Theme
                background-color: #181818;
            }

            &--light {
                // Light Theme
                background-color: #fff;
            }
        }
    }

    // ---

    &__plv_container {
        display: flex;
        align-items: center;
        cursor: pointer;
        min-width: 0;
        padding: 4px 8px 4px 0;



        &--dark {

            // Dark Theme
            &:hover {
                background-color: #292929;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.418);
            }
        }

        &--light {

            // Light Theme
            &:hover {
                background-color: #ebebeb;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.418);
            }
        }

        &:hover>.ytb_video_wrapper>.ytb_video_wrapper__body_container>.ytb_plv_del_btn_container>.ytb_plv_del_btn {
            display: block;
        }

        &:hover>.ytb_playbtn_area>.ytb_playbtn_area__drag>.ytb_svg_y>.ytb_svg_y__wrapper>g>path {
            display: block;
        }

        .ytb_playbtn_area {

            align-self: stretch;
            display: flex;
            align-items: center;
            cursor: grab;

            &__playing {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }

            &__drag {

                .ytb_svg_y>.ytb_svg_y__wrapper>g>path {
                    display: none;
                }
            }
        }

        .ytb_video_wrapper {
            display: flex;
            position: relative;
            flex: 1;


            &__thumbnail {

                position: relative;
                height: auto;
                width: 100px;


                .ytb_plvt_img {

                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-height: none;
                    max-width: 100%;
                    border-radius: none;
                }

                .ytb_plv_duration {

                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 1px;
                    border-radius: 2px;
                    letter-spacing: 0.5px;
                    font-size: 0.8rem;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 2px 4px;
                    line-height: 0.9rem;

                }
            }

            &__body_container {

                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;


                .ytb_plv_header_wrap {
                    align-self: flex-start;
                    padding: 0 8px;


                    &__title {
                        font-size: 1.3em;
                        font-family: Roboto-Medium;
                        padding-bottom: 5px;
                    }

                    &__chtitle {

                        font-size: 1.25em;

                        &--dark {
                            // Dark Theme
                            color: colors(ChTitle_Dark_Color);

                            &:hover {
                                //Theme
                                color: #fff;
                            }
                        }

                        &--light {
                            // Ligth Theme
                            color: colors(ChTitle_Light_Color);

                            &:hover {
                                //Theme
                                color: #212121;
                            }
                        }
                    }
                }

                .ytb_plv_del_btn_container {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 25px;

                    .ytb_delbtn_not {
                        display: none !important;
                    }

                    .ytb_plv_del_btn {
                        position: absolute;
                        right: 0;
                        display: none;

                        &--dark {

                            // Dark Theme
                            &:hover>.ytb_svg_y>.ytb_svg_y__wrapper>g>path {
                                // Theme
                                fill: #dbdbdb;
                            }
                        }

                        &--light {

                            // Light Theme
                            &:hover>.ytb_svg_y>.ytb_svg_y__wrapper>g>path {
                                // Theme
                                fill: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ytb_vis_playing {

    &--dark {
        // Dark Theme
        background-color: #303030;
    }

    &--light {
        // Ligth Theme
        background-color: #e2e2e2;
    }
}