.container {
    position: absolute;
    width: 240px;
    box-sizing: border-box;
    max-width: 249px;
    max-height: 213px;
    right: 0;
    top: 50%;
    border-radius: 4px;
    z-index: 10;
    padding: 8px 0;

    background-color: var(--Nav-bgc);

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
        0 1px 5px 0 rgba(0, 0, 0, 0.1),
        0 3px 1px -2px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1150px) {
        top: -50% !important;
    }

    .text_container {
        display: flex;
        padding: 5px 36px 5px 16px;
        align-items: center;

        &:hover {
            background-color: var(--bgc-hover);
        }

        &__icon {
            margin-right: 16px;

            &> :global(.ytb_svg_x)> :global(.ytb_svg_x__wrapper) {
                transform: scale(1.25);
            }
        }

        &__text {
            font-size: 1.3em;
            color: var(--VidTitle-Color);
        }
    }
}